/build/
/.idea/
/.cxx/
/.test/
/local.properties
/.hvigor/
/.ohpm/
/hvigor-wrapper.js
/hvigor-wrapper.ts
*.log
/.appanalyzer/
/oh_modules/
/entry/build/
/entry/.cxx/
/entry/.test/
/entry/.preview/
/entry/oh_modules/
/.hvigor/
/caches/
/.hvigorcache/
/.ohpmcache/

# Web 资源由 harmony:sync 脚本生成
/entry/src/main/resources/rawfile/web/

